body {

    background-color: coral;
}

#container {

    color: beige;
    margin: auto;
    width: 50%;
    
    /* border: 3px solid green; */
    padding: 20px;
    text-align: center;
    margin-top: 10%;
}